@tailwind preflight;
@tailwind utilities;
body {
  @apply bg-grey-dark;
}

/* Fix the default cell header separator, because it looks ugly as hell for tall headers */
.ag-theme-balham .ag-ltr .ag-header-cell::after, .ag-theme-balham .ag-ltr .ag-header-group-cell::after {
  height: 100%;
  margin-top:0;
}

.ace_hidden-cursors {
  opacity:0
} 

.highlight-error {
  position: absolute;
  @apply bg-red-lighter;
}

.header {
  @apply pt-3 mb-2 text-custom-teal-dark text-xl font-bold;
}

.subheader {
  @apply pb-2 text-grey-darker font-bold
}

.subheader-error {
  @apply pb-2 text-red-dark font-bold
}

div.ace_gutter_cell, #brace-editor > div.ace_gutter > div.ace_gutter-active-line {
  @apply bg-white
}
